.carousel-container {
    width: 100%;
   }
   .slider {
    /* margin:0 20px; */
    overflow:"hidden";
    height: -webkit-fill-available;
    /* display: flex; */
    width: -webkit-fill-available;
    }
  
  .slider img {
    width: 100%;
    border-radius:20px;
    /* padding: 1rem; */
  }
  .react-multi-carousel-list {
  padding: 0rem 0 2rem 20rem;
  }
  .react-multi-carousel-track {
    height: 25rem;
  }
